<div class="carousel slide vertical spacing-bottom" data-ride="carousel">
<div class="btn-group top-controls" role="group" aria-label="Carousel controls">
    <button class="btn btn-default prev-slider js_PrevSlider" title="Previous">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <span class="sr-only">Previous</span></button>
    <button class="btn btn-default next-slider js_NextSlider" title="Next">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>

<div class="carousel-inner vertical" role="listbox">
    {{#each paged_data}}
    <div class="item">
        <div class="list-group no-bottom">
            {{#.}}
            <a href="{{../../base_url}}/{{id}}" class="list-group-item js_DataItem">
                <span class="spacing-right">{{idFormat id}}</span><span>{{name}}</span>
            </a>
            {{/.}}
        </div>
    </div>
    {{/each}}
</div>

<div class="btn-group bottom-controls" role="group" aria-label="Carousel controls">
    <button class="btn btn-default prev-slider js_PrevSlider" title="Previous">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <span class="sr-only">Previous</span></button>
    <button class="btn btn-default next-slider js_NextSlider" title="Next">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>
</div>