<div class="clearfix">
    <div class="btn-toolbar pull-right">
        <a role="button" data-toggle="collapse" href="#collapseChangePlugin" aria-expanded="true" aria-controls="collapseChangePlugin" class="btn btn-sm btn-default" title="Change plugin">
            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span><span class="hidden-xs">&nbsp;Change</span>
        </a>
        <button type="button" class="js_Add btn btn-sm btn-success" title="Add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-xs">&nbsp;Add</span>
        </button>
    </div>
    <h4>Toolbox</h4>
    <div class="toolbox">
        <div id="collapseChangePlugin" class="collapse">
            <div class="form-group well well-sm half-spacing-bottom">
                <label for="txtChangePlugin">Select plugin:</label>
                <div class="input-group">
                    <input id="txtChangePlugin" class="form-control input-sm" type="text" data-provide="typeahead" autocomplete="off">
                    <div class="input-group-btn">
                        <button type="button" class="js_SaveChangePlugin btn btn-primary btn-sm" title="Go">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="hidden-xs">&nbsp;Go</span>
                        </button>
                        <button type="button" class="js_ClearChangePlugin btn btn-default btn-sm" title="Clear">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span class="hidden-xs">&nbsp;Clear</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{#each plugins}}
        <div id="grp{{pagename}}" class="list-group{{#compare pagename "!=" ../toolboxPluginID}} hidden{{/compare}}">
            <div class="list-group-item">
                <div class="btn-toolbar pull-right">
                    <a id="popover{{pagename}}" tabindex="0" class="btn btn-sm btn-default"  data-toggle="popover" role="button">?</a>
                </div>
                <div>{{longname}}</div>
                <span class="label label-info">{{name}}</span>
                {{#compare num_page "==" 1}}
                <div id="tooltip{{name}}" class="hidden">
                    <!-- Filled by PluginTooltipPartialView.js-->
                </div>
                {{/compare}}
            </div>
            {{#each exts}}
            <a href="#" class="js_ToolboxLink list-group-item">
                {{ext}}
            </a>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>