<h4><a role="button" data-toggle="collapse" href="#collapseActiveTurnBattleSettings" aria-expanded="true" aria-controls="collapseActiveTurnBattleSettings">{{plugin.longname}}</a><span class="pull-right"><a tabindex="0" class="btn btn-lg btn-default"  data-toggle="popover" role="button">?</a></span></h4>
<div id="tooltipActiveTurnBattleSettings" class="hidden">
    <!-- Filled by PluginTooltipPartialView.js-->
</div>
<div class="half-spacing-bottom"><span class="label label-info">{{plugin.name}}</span></div>
<div id="collapseActiveTurnBattleSettings" class="collapse">
    {{#with current}}
    <div class="form-group">
        <label for="numAtbStart">ATB Start:</label>
        <div class="input-group">
            <span class="input-group-addon">
                <input id="chkAtbStart" type="checkbox" class="js_Tags" title="Enables ATB Start" {{checkedIf atbStart}} />
            </span>
            <span class="input-group-addon">Unit</span>
            <input type="number" class="form-control" id="numAtbStart" value="{{atbStart.unit}}" {{readonlyIfNot atbStart}} />
            <span class="input-group-addon">Rate</span>
            <input type="number" class="form-control" id="numAtbStartRate" value="{{atbStart.rate}}" {{readonlyIfNot atbStart}} />
            <span class="input-group-addon">%</span>
        </div>
    </div>
    <div class="form-group">
        <label for="numAtbTurn">ATB Turn:</label>
        <div class="input-group">
            <span class="input-group-addon">
                <input id="chkAtbTurn" type="checkbox" class="js_Tags" title="Enables ATB Turn" {{checkedIf atbTurn}} />
            </span>
            <span class="input-group-addon">Unit</span>
            <input type="number" class="form-control" id="numAtbTurn" value="{{atbTurn.unit}}" {{readonlyIfNot atbTurn}} />
            <span class="input-group-addon">Rate</span>
            <input type="number" class="form-control" id="numAtbTurnRate" value="{{atbTurn.rate}}" {{readonlyIfNot atbTurn}} />
            <span class="input-group-addon">%</span>
        </div>
    </div>
    {{/with}}
</div>