<h4><a role="button" data-toggle="collapse" href="#collapseDamageSettings" aria-expanded="true" aria-controls="collapseDamageSettings">{{plugin.longname}}</a><span class="pull-right"><a tabindex="0" class="btn btn-lg btn-default"  data-toggle="popover" role="button">?</a></span></h4>
<div id="tooltipDamageSettings" class="hidden">
    <!-- Filled by PluginTooltipPartialView.js-->
</div>
<div class="half-spacing-bottom"><span class="label label-info">{{plugin.name}}</span></div>
<div id="collapseDamageSettings" class="collapse">
    {{#with current}}
    <div class="form-group">
        <div class="checkbox checkbox-right">
            <label for="chkBypassDamageCap">Bypass Damage Cap:<input id="chkBypassDamageCap" type="checkbox" {{checkedIf bypassDamageCap}} /></label>
        </div>
    </div>
    {{/with}}
</div>