<h4><a role="button" data-toggle="collapse" href="#collapseEnemyLevels" aria-expanded="true" aria-controls="collapseEnemyLevels">Enemy Levels</a><span class="pull-right label label-info">YEP-Enemy-Levels</span></h4>
<div id="collapseEnemyLevels" class="collapse">
    {{#with current}}
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkSkillRequireLevel">Skill Require Level:<input id="chkSkillRequireLevel" class="js_Tags" type="checkbox" title="Enables Skill Require Level" {{checkedIf skillRequireLevel.enabled}} /></label>
        </div>
        <div id="skill_require_level">
            {{!-- 
            <script id="tplSkillRequireLevel-headers" type="text/x-handlebars-template">
                <th class="col-xs-4 col-md-4">{{partialID}}Skill</th>
                <th class="col-xs-4 col-md-4">Level</th>
            </script>
            <script id="tplSkillRequireLevel-read" type="text/x-handlebars-template">
                <td>{{skill}}</td>
                <td>{{level}}</td>
            </script>
            <script id="tplSkillRequireLevel-edit" type="text/x-handlebars-template">
                <td>
                    <select id="ddlSkillRequireLevel" class="form-control js_InlineEditTableInput" >
                        {{#each parentContext.skills}}
                        {{#compare id "==" ../skillID}}
                            <option value="{{id}}" selected>{{name}}</option>
                        {{/compare}}
                        {{#compare id "!=" ../skillID}}
                            <option value="{{id}}">{{name}}</option>
                        {{/compare}}
                        {{/each}}
                    </select>
                </td>
                <td><input type="number" class="form-control js_InlineEditTableInput" id="numSkillRequireLevel" value="{{level}}" /></td>
            </script>
            <script id="tplSkillRequireLevel-empty" type="text/x-handlebars-template">
                <td>None</td>
                <td></td>
            </script>
            --}}
            <!-- Filled by InlineEditTablePartialView.js-->
        </div>
    </div>
    {{/with}}
</div>