<h4>Rewards<span class="pull-right"><a tabindex="0" class="btn btn-lg btn-default"  data-toggle="popover" role="button">?</a></span></h4>
<div id="tooltipRewards" class="hidden">
    <!-- Filled by PluginTooltipPartialView.js-->
</div>
<div class="half-spacing-bottom"><span class="label label-info">{{plugin.name}}</span></div>
{{#with current}}
<div class="form-group">
    <label for="numExp">EXP:</label>
    <div class="input-group">
        <span class="input-group-addon">
            <input id="chkExp" type="checkbox" class="js_Tags" title="Overrides EXP" {{checkedIf overrideexp}} />
        </span>
        <input type="number" class="form-control" id="numExp" value="{{exp}}" {{readonlyIfNot overrideexp}} />
    </div>
</div>
<div class="form-group">
    <label for="numGold">Gold:</label>
    <div class="input-group">
        <span class="input-group-addon">
            <input id="chkGold" type="checkbox" class="js_Tags" title="Overrides Gold" {{checkedIf overridegold}} />
        </span>
        <input type="number" class="form-control" id="numGold" value="{{gold}}" {{readonlyIfNot overridegold}} />
    </div>
</div>
{{/with}}