<h4><a role="button" data-toggle="collapse" href="#collapseTauntSettings" aria-expanded="true" aria-controls="collapseTauntSettings">Taunt Settings</a><span class="pull-right"><a tabindex="0" class="btn btn-lg btn-default"  data-toggle="popover" role="button">?</a></span></h4>
<div id="tooltipTauntSettings" class="hidden">
    <!-- Filled by PluginTooltipPartialView.js-->
</div>
<div class="half-spacing-bottom"><span class="label label-info">YEP-Taunt</span></div>
<div id="collapseTauntSettings" class="collapse">
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkPhysicalTaunt">Physical Taunt:<input id="chkPhysicalTaunt" type="checkbox" {{checkedIf physicalTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkMagicalTaunt">Magical Taunt:<input id="chkMagicalTaunt" type="checkbox" {{checkedIf magicalTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkCertainTaunt">Certain Taunt:<input id="chkCertainTaunt" type="checkbox" {{checkedIf certainTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkNullPhysicalTaunt">Null Physical Taunt:<input id="chkNullPhysicalTaunt" type="checkbox" {{checkedIf nullPhysicalTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkNullMagicalTaunt">Null Magical Taunt:<input id="chkNullMagicalTaunt" type="checkbox" {{checkedIf nullMagicalTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkNullCertainTaunt">Null Certain Taunt:<input id="chkNullCertainTaunt" type="checkbox" {{checkedIf nullCertainTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkIgnorePhysicalTaunt">Ignore Physical Taunt:<input id="chkIgnorePhysicalTaunt" type="checkbox" {{checkedIf ignorePhysicalTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkIgnoreMagicalTaunt">Ignore Magical Taunt:<input id="chkIgnoreMagicalTaunt" type="checkbox" {{checkedIf ignoreMagicalTaunt}} /></label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-right no-top">
            <label for="chkIgnoreCertainTaunt">Ignore Certain Taunt:<input id="chkIgnoreCertainTaunt" type="checkbox" {{checkedIf ignoreCertainTaunt}} /></label>
        </div>
    </div>
</div>