<div class="actions">
    {{!-- 
    <script id="tplCheckOnly-read" type="text/x-handlebars-template">
        {{action.value}}
    </script>
    <script id="tplCheckOnly-edit" type="text/x-handlebars-template">
        <div class="checkbox checkbox-right no-top">
            <label for="chk{{action.id}}">{{action.label}}:<input id="chk{{action.id}}" type="checkbox" {{checkedIf action.enabled}} /></label>
        </div>
    </script>
    <script id="timeline-empty" type="text/x-handlebars-template">
        <div class="timeline_empty">
            <i class="glyphicon glyphicon-download-alt spacing-bottom" />
            <strong>Add an action</strong><span> or drag it here.</span>
        </div>
    </script>
    --}}
    <!-- Filled by InlineEditTimelinePartialView.js-->
</div>