
body {
  padding-top: 100px;
}

textarea {
    resize: none;
}

#imgEnemy {
    max-height: 200px;
    vertical-align:bottom;
}

/*Misc*/
.no-top {
    margin-top:0;
}
.no-bottom {
    margin-bottom:0;
}
.spacing-left {
    margin-left:10px;
}
.spacing-right {
    margin-right:10px;
}
.half-spacing-bottom {
    margin-bottom:10px;
}
.spacing-bottom {
    margin-bottom:20px;
}
.fill-bottom {
    padding-bottom:16px;
}

.home .thumbnail {
    position: relative;
}
.home .caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}
.home .caption h4 {
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size:35px;
}
.home .btn-toolbar {
    max-width: 400px;
    margin-top: 7px;
}
.home .btn-toolbar .file-input {
    max-width: 300px;
    float: left;
}
@media (min-width:768px)
{
    .home .btn-toolbar {
        max-width: 520px;
    }
    .home .btn-toolbar .file-input {
        max-width: 400px;
    }
}
.home .btn-toolbar .file-input .btn {
    float: none;
}
.inline-edit-table > tbody > tr > td, .inline-edit-table > thead > tr > th {
     vertical-align: middle;
}
.affix-bottom {
    position: absolute;
}
@media (max-width:991px)
{
    .affix {
        position: static;
    }
}
@media (min-width:992px)
{
    #sidebar {
        top: 68px;
    }
    #sidebar.affix-top {
        width: 100%;
    }
    #sidebar.affix {
        width:25%;
        padding-right:30px;
    }
    #sidebar.affix-bottom {
        padding-right:15px;
    }
}


/*JQuery Overrides*/
table.tablesorter thead tr .header {
	cursor: pointer;
}
table.tablesorter thead tr .header:hover {
	background-color: #f5f5f5;
}
table.tablesorter thead tr .headerSortUp:after {
  content:"\e253";
  font-family:"Glyphicons Halflings";
  line-height:1;
  margin-left:10px;
  display:inline-block;
}
table.tablesorter thead tr .headerSortDown:after {
  content:"\e252";
  font-family:"Glyphicons Halflings";
  line-height:1;
  margin-left:10px;
  display:inline-block;
}

/*Bootstrap Overrides*/
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
}

.radio-right label, .checkbox-right label {
    padding-left:0;
    font-weight:bold;
}
.radio-right input[type="radio"], .checkbox-right input[type="checkbox"], .checkbox-right .bootstrap-switch {
    margin-left:10px;
}

.input-group .form-control {
    margin-top:0;
}

.radio.form-control[disabled] label, .checkbox.form-control[disabled] label {
    cursor:not-allowed;
}

.well .table {
    background:white;
}

h4 .label {
    font-size:0.65em;
}

.input-group-addon .bootstrap-switch {
    margin: 0 -6px;
    width: 24px;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    padding: 1px 4px;
    font-size: 11px;
    line-height: 1.25;
}

.well .table .btn-group {
    min-width: 65px;
}

h3.popover-title
{
    font-size:1.15em;
    font-weight:bold;
}
.popover {
    width: 300px;
}

/*Vertical carousel*/
.carousel-inner.vertical > .item .list-group-item:first-child {
    border-radius:0;
}
.carousel-inner.vertical > .item .list-group-item:last-child {
    border-radius:0;
}

.carousel-inner.vertical > .item a.list-group-item, .carousel-inner.vertical > .item button.list-group-item {
    display:inline-block;
    width:100%;
}
.carousel.vertical > .btn-group {
    width: 100%;
}
.carousel.vertical > .btn-group .btn {
    width: 50%;
}
.carousel.vertical > .btn-group.top-controls .btn {
     border-bottom-left-radius:0;
     border-bottom-right-radius:0;
}
.carousel.vertical > .btn-group.bottom-controls .btn {
     border-top-left-radius:0;
     border-top-right-radius:0;
}
.carousel-inner.vertical {
  height: 100%;
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
   .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 100%;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -100%
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -100%;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 100%;
}