
body {
  padding-top: 100px;
}

textarea {
    resize: none;
}

#imgEnemy {
    max-height: 200px;
    vertical-align:bottom;
}

/*Misc*/
.no-top {
    margin-top:0;
}
.no-bottom {
    margin-bottom:0;
}
.spacing-left {
    margin-left:10px;
}
.spacing-right {
    margin-right:10px;
}
.half-spacing-bottom {
    margin-bottom:10px;
}
.spacing-bottom {
    margin-bottom:20px;
}
.fill-bottom {
    padding-bottom:16px;
}

.home .thumbnail {
    position: relative;
}
.home .caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}
.home .caption h4 {
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size:35px;
}
.home .btn-toolbar {
    max-width: 400px;
    margin-top: 7px;
}
.home .btn-toolbar .file-input {
    max-width: 300px;
    float: left;
}
@media (min-width:768px)
{
    .home .btn-toolbar {
        max-width: 520px;
    }
    .home .btn-toolbar .file-input {
        max-width: 400px;
    }
}
.home .btn-toolbar .file-input .btn {
    float: none;
}
.inline-edit-table > tbody > tr > td, .inline-edit-table > thead > tr > th {
     vertical-align: middle;
}
.affix-bottom {
    position: absolute;
}
@media (max-width:991px)
{
    .affix {
        position: static;
    }
}
@media (min-width:992px)
{
    .sidebar {
        top: 68px;
    }
    .sidebar.affix-top {
        width: 100%;
    }
    .sidebar.affix {
        width:25%;
        padding-right:30px;
    }
    .sidebar.affix-bottom {
        width: 100%;
        padding-right:30px;
    }
}

.toolbox > .list-group > .list-group-item:first-child {
    font-weight: bold;
    background-color: #f5f5f5;
}

.quickscroll > .form-group {
    margin-left:20px;
    margin-right:20px;
    min-width:225px;
}

@media (max-width: 767px)
{
    .quickscroll > .form-group {
        margin-left:25px;
        margin-right:15px;
    }
    .quickscroll > .form-group > label {
        color: #9d9d9d;
    }
}

.timeline_empty {
    text-align:center;
    font-size:20px;
    margin-top:250px;
    margin-bottom:250px;
}

.timeline_empty .glyphicon {
    width: 100%;
    font-size:5em;
    color:#d9d9d9;
}

/*JQuery Overrides*/
table.tablesorter thead tr .header {
	cursor: pointer;
}
table.tablesorter thead tr .header:hover {
	background-color: #f5f5f5;
}
table.tablesorter thead tr .headerSortUp:after {
  content:"\e253";
  font-family:"Glyphicons Halflings";
  line-height:1;
  margin-left:10px;
  display:inline-block;
}
table.tablesorter thead tr .headerSortDown:after {
  content:"\e252";
  font-family:"Glyphicons Halflings";
  line-height:1;
  margin-left:10px;
  display:inline-block;
}

/*Bootstrap Overrides*/
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
}

.radio-right label, .checkbox-right label {
    padding-left:0;
    font-weight:bold;
}
.radio-right input[type="radio"], .checkbox-right input[type="checkbox"], .checkbox-right .bootstrap-switch {
    margin-left:10px;
}

.input-group .form-control {
    margin-top:0;
}

.radio.form-control[disabled] label, .checkbox.form-control[disabled] label {
    cursor:not-allowed;
}

.well .table {
    background:white;
}

h4 .label {
    font-size:0.65em;
}

.input-group-addon .bootstrap-switch {
    margin: 0 -6px;
    width: 24px;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    padding: 1px 4px;
    font-size: 11px;
    line-height: 1.25;
}

.well .table .btn-group {
    min-width: 65px;
}

h3.popover-title
{
    font-size:1.15em;
    font-weight:bold;
}
.popover {
    width: 300px;
}

/*Vertical carousel*/
.carousel-inner.vertical > .item .list-group-item:first-child {
    border-radius:0;
}
.carousel-inner.vertical > .item .list-group-item:last-child {
    border-radius:0;
}

.carousel-inner.vertical > .item a.list-group-item, .carousel-inner.vertical > .item button.list-group-item {
    display:inline-block;
    width:100%;
}
.carousel.vertical > .btn-group {
    width: 100%;
}
.carousel.vertical > .btn-group .btn {
    width: 50%;
}
.carousel.vertical > .btn-group.top-controls .btn {
     border-bottom-left-radius:0;
     border-bottom-right-radius:0;
}
.carousel.vertical > .btn-group.bottom-controls .btn {
     border-top-left-radius:0;
     border-top-right-radius:0;
}
.carousel-inner.vertical {
  height: 100%;
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
   .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 100%;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -100%
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -100%;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 100%;
}

/* Timeline */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            background-color: #fff;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

}

   

.actions .timeline.nested > li > .timeline-badge {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 0.8em;
    margin-left: -13px;
    top: 30px;
}

.actions .timeline > li > .timeline-badge {
    top:auto;
    bottom:-6px;
}
.actions .timeline > li > .timeline-panel:before {
    top:auto;
    bottom: 6px;
}
.actions .timeline > li > .timeline-panel:after {
    top: auto;
    bottom:7px;
}

.actions .timeline > li > .timeline-badge, .actions .timeline .timeline.nested > li > .timeline-badge {
    cursor: pointer;
}

@media (max-width: 767px) {
 
    .timeline.nested > li > .timeline-badge {
        margin-left: 0;
        left: 28px;
    }

}